# Node modules
node_modules/

# Build output
dist/
build/

# Logs
logs
*.log

# Coverage reports
coverage/

# Env files
.env
apps/*/.env*
.env.local
.env.*.local

# OS / IDE
.DS_Store
.idea/
.vscode/
*.swp
*.swo
*.swn
